{#
/**
 * @file
 * LB Node Share implementation to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('lb_branch_hours_blocks/branch_hours') }}
{% set all_location_link_text %}
  {{ 'All Locations'|t }}
{% endset %}
<div{{ attributes.addClass('container') }}>
  {{ title_prefix }}
  {{ title_suffix }}
  <div class="row">
    <div class="col-lg-6 col-12 mb-4 mb-lg-0">
      <div class="back-link"><i
          class="fas fa-chevron-left"></i> {{ link(all_location_link_text, 'internal:/locations' ) }}</div>
      <div class="branch-name">{{ content.branch_name }}</div>
    </div>
    <div class="col-lg-6 col-12">
      <div class="block-lb-branch-hours--wrapper">
        <div class="info-card">
          <div class="card">
            <div class="mb-3 mb-lg-0">
              <div class="label">{{ "Find us" | t }}</div>
              <div class="branch-phone">{{ content.branch_phone }}</div>
              <div class="branch-fax">{{ content.branch_fax }}</div>
              <div class="branch-address">{{ content.branch_address }}</div>
              <div class="branch-email">{{ content.branch_email }}</div>
            </div>
          </div>
        </div>
        <div class="info-card">
          <div class="card d-flex flex-column justify-content-between mb-3 mb-lg-0">
            <div class="hours">
              <div class="label">{{ "Hours" | t }}</div>
              <div class="d-flex flex-row align-items-baseline">
                <i class="fas fa-clock mr-1"></i>
                {{ content.branch_today_hours }}
              </div>
            </div>
            <div class="see-more-hours px-2 pt-3">
              <a href="#" class="more-hours">{{ "See more hours" | t }} <i class="fas fa-plus-circle"></i></a>
            </div>
          </div>
        </div>
        <div class="branch-hours-dropdown">
          <header>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </header>
          <div class="week-hours d-lg-flex flex-row">
            {{ content.branch_hours }}
          </div>
          {% if content.branch_holiday_hours.table['#rows'] %}
            <div class="holiday-hours d-lg-flex flex-row">
              {{ content.branch_holiday_hours }}
            </div>
          {% endif %}
          <div class="hours-more-link">
            {{ content.branch_hours_link }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
